https://github.com/coletdjnz/yt-dlp-youtube-oauth2/archive/refs/heads/master.zip
https://github.com/KurimuzonAkuma/pyrogram/archive/dev.zip
git+https://github.com/Ripeey/Conversation-Pyrogram
moviepy==1.0.3
youtube_search
python-dotenv
apscheduler
GitPython
aiosqlite
aiocache
requests
tgcrypto
aiogram
aiohttp
openai
psutil
qrcode
yt_dlp
pillow
arrow
redis
pytz